<% content_for(:meta) do %>
  <meta name="All Dog Breeds" content="A list of dog breeds to help you select the perfect companion." />
<% end %>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Dog Breeds</h1>
    <p class="lead text-muted">Whether you're looking for a purebred puppy, or just want to understand the potential in a mixed-breed dog, the typical breed characteristics provide some hints.</p>
    <p>
      <button class="btn btn-primary" id="selector-button">Find your perfect dog</button>
    </p>
  </div>
</section>

<div class="container m-t-md">

<!--filter tool-->
  <div class="row" id="breed-selector" style="display:none">
    <%= form_tag(dogs_path, :method => "get") do %>
      <h5>Let's start with you:</h5>

      <div class="form-group check-box">
        <h6>How would you describe yourself?</h6>
        <div class="radio">
          <%= radio_button_tag(:energy, "1") %>
          <%= label_tag("My favorite activity is sitting on the couch") %>
        </div>
        <div class="radio">
          <%= radio_button_tag(:energy, "12") %>
          <%= label_tag("I like to go for the occasional walk.") %>
        </div>
        <div class="radio">
          <%= radio_button_tag(:energy, 234) %>
          <%= label_tag("I walk daily.") %>
        </div>
        <div class="radio">
          <%= radio_button_tag(:energy, 45) %>
          <%= label_tag("I run daily.") %>
        </div>        
      </div>

      <div class="form-group check-box">
        <h6>Do you have children?</h6>
        <div class="radio">
          <%= radio_button_tag(:kids, "5") %>
          <%= label_tag("Yes, 7 years old or younger") %>
        </div>
        <div class="radio">
          <%= radio_button_tag(:kids, "45") %>
          <%= label_tag("Yes, 8 years old or older") %>
        </div>
        <div class="radio">
          <%= radio_button_tag(:kids, "5") %>
          <%= label_tag("I have children in both age groups.") %>
        </div>
        <div class="radio">
          <%= radio_button_tag(:kids, "12345") %>
          <%= label_tag("I don't have children.") %>
        </div>        
      </div>

      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="flex-grid">
    <% @dogs.each do |dog| %>
      <span class="column">
        <%= image_tag(dog.image_file_name, alt: dog.breed, class: "card-img-top img-fluid") %>
        <div>
          <h4><%= dog.breed %></h4>
          <h6><%= dog.breed_group %></h6>
          <p><%= dog.breed_summary %></p>
          <%= link_to("Read More", dog, class: 'btn btn-primary') %>
        </div>
      </span>
    <% end %>
  </div>
</div>

