<% content_for(:meta) do %>
  <meta name="All Dog Breeds" content="A list of dog breeds to help you select the perfect companion." />
<% end %>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Dog Breeds</h1>
    <p class="lead text-muted">Whether you're looking for a purebred puppy, or just want to understand the potential in a mixed-breed dog, the typical breed characteristics provide some hints.</p>
    <p>
      <a href="#" class="btn btn-primary">Find your perfect dog</a>
      <a href="#" class="btn btn-secondary">Train your dog</a>
    </p>
  </div>
</section>

<div class="container m-t-md">

<!--filter tool-->
  <div class="row">
    <%= form_tag(dogs_path, :method => "get") do %>
      Choose your preferred dog size
      <div = "form-group">        
        <%= label_tag(:size, "Small") %>
        <%= radio_button_tag(:size, "small") %>
        <%= label_tag(:size, "Large") %>
        <%= radio_button_tag(:size, "large") %>
      </div>
      <%= submit_tag("Search") %>
    <% end %>
  </div>

  <div class="row">
    <% @dogs.each do |dog| %>
      <div class="card mx-auto">
        <%= image_tag(dog.image_file_name, alt: dog.breed, class: "card-img-top img-fluid") %>
        <div class="card-block">
          <h4 class="card-title"><%= dog.breed %></h4>
          <h6 class='text-muted'>          <%= dog.breed_group %></h6>
          <p class-"card-text"><%= dog.breed_summary %></p>
          <%= link_to("Read More", dog, class: 'btn btn-primary') %>
        </div>
      </div>
    <% end %>
  </div>
</div>

