<% content_for(:meta) do %>
  <meta name="All Dog Breeds" content="A list of dog breeds to help you select the perfect companion." />
<% end %>

<div class="container container-custom-margin center-block">

  <div class="feature text-center">
      <h3>Search by Breed</h3>
  </div>

  <div class="search">    
    <%= form_tag dogs_path, :method => 'get' do %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], placeholder: "Search for a breed", class: "form-control" %>
        <%= button_tag "Go", name: nil, class: "btn btn-search hero-search-btn" %>
      </div>
    <% end %>
  </div>

  <hr>

  <div class="feature text-center">
    <h3>Search results</h3>
  </div>
  
  <div class="flex-grid">
    
    <% @dogs.each do |dog| %>
      <span class="column">
        <%= image_tag(dog.image_file_name, alt: dog.breed, class: "card-img-top img-fluid") %>
        <div>
          <h4 class="breed-name"><%= dog.breed %></h4>
          <h6><%= dog.breed_group %></h6>
          <p><%= dog.breed_summary %></p>
          <%= link_to("Read More", dog, class: 'btn btn-primary') %>
        </div>
      </span>
    <% end %>
  </div>
</div>

